<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card p-4 bg-light text-center">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar.variant(resize_to_limit: [140, 140]), width: 140, height: 140, class: "rounded-circle mx-auto d-block mb-3" %>
          <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
          <h5><%= current_user.phone %></h5>

          <%= button_to "Удалить фото", delete_avatar_path, method: :delete,
                        class: "btn btn-outline-danger mt-2 w-100" %>
        <% else %>
          <%= image_tag "default-avatar.png", width: 140, height: 140, class: "rounded-circle mx-auto d-block mb-3" %>

          <%= form_with model: current_user, url: upload_avatar_path, method: :patch, local: true, html: { multipart: true } do |f| %>
            <div class="mb-3 mt-3">
              <%= f.file_field :avatar, class: "form-control" %>
            </div>
            <%= f.submit "Upload photo", class: "btn btn-primary w-100" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card p-4">
        <% if current_user.doctor? %>
          <h4>Welcome Doctor!</h4>
        <% else %>
          <%= render 'home/patient_dashboard' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

