<ul class="list-group">
  <% @appointments.each do |appt| %>
    <li class="list-group-item d-flex flex-column">
      <div>
        <strong><%= l appt.date, format: :long %></strong> at <%= appt.time.strftime("%H:%M") %>
      </div>
      <div>
        <strong>Doctor:</strong>
        <%= link_to appt.doctor.full_name, doctor_path(appt.doctor) %>
      </div>

      <div class="mt-auto d-flex justify-content-start">
        <% if appt.recommendation.present? %>
          <%= link_to 'Recommendations',
                      recommendation_path(appt.recommendation),
                      class: "btn btn-outline-secondary btn-sm" %>
        <% elsif current_user.doctor? && appt.doctor == current_user %>
          <%= link_to 'Add Recommendation',
                      new_appointment_recommendation_path(appt),
                      class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>